body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #adf1a7;
}

.container {
  position: relative;
}
.happy {
  position: relative;
  top: 10px;
  left: 70px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #89f080;
}

.envelope:before {
  background-color: #84f080;
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0 0;
}

.card {
  position: absolute;
  background-color: #82b87d;
  width: 270px;
  height: 170px;
  top: 10px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
}

.card:before {
  content: "";
  position: absolute;
  border: 3px solid #003049;
  border-style: dotted;
  width: 240px;
  height: 140px;
  left: 12px;
  top: 12px;
}

.text {
  position: absolute;
  font-family: "Brush Script MT", cursive;
  font-size: 28px;
  text-align: center;
  line-height: 25px;
  top: 19px;
  left: 65px;
  color: #003049;
}

.heart {
  background-color: #d62828;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 110px;
  left: 105px;
  transform: rotate(-45deg);
  width: 30px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #d62828;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.heart:before {
  top: -15px;
  left: 0;
}

.heart:after {
  left: 15px;
  top: 0;
}
.front {
  position: absolute;
  border-right: 180px solid #89f080;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.front:before {
  position: absolute;
  content: "";
  border-left: 300px solid #89f080;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
  width: 0;
  height: 0;
}

.shadow {
  position: absolute;
  width: 330px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 175px;
  left: 504px;
  animation: scale 3s linear infinite;
  z-index: -1;
}

button {
  padding: 17px 40px;
  position: relative;
  top: 200px;
  right: 150px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsla(135, 55%, 44%, 0.938);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(48, 145, 48) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsla(120, 50%, 41%, 0.795);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(44, 146, 57, 0.87) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* To move the envelope up and down */
@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/* to scale the shadow */
@keyframes scale {
  0%,
  100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.85);
  }
}
